In [3]:
import pandas as pd
import os
import requests
import json
from dotenv import load_dotenv
import time
from pathlib import Path

In [4]:
all_df = pd.read_csv('transactions.csv', index_col = 'DateTime', parse_dates = True, infer_datetime_format = True)

C:\Users\pedem\anaconda3\envs\dev\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [31]:
clean_df = all_df[['Txhash', 'Blockno', 'From','To', 'Value_IN(ETH)', 'TxnFee(ETH)', 'TxnFee(USD)', 'Historical $Price/Eth', 'Method']]

In [37]:
clean_df

,Txhash,Blockno,From,To,Value_IN(ETH),TxnFee(ETH),TxnFee(USD),Historical $Price/Eth,Method
DateTime,,,,,,,,,
2017-06-22 19:40:00,0x0885b9e5184f497595e1ae2652d63dbdb2785de2e498...,3914495,0xc352b534e8b987e036a93539fd6897f53488e56a,NaN,0.0,0.023565,76.018921,320.97,0x60c06040
2017-06-23 13:50:51,0xdcc2d338ae2a0154ac0c50b8836fe96e7e8f17a2ccc2...,3918216,0xc352b534e8b987e036a93539fd6897f53488e56a,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,0.0,0.007250,23.387559,326.85,Set Initial Owners
2017-06-23 14:01:25,0xcdfbe42b67adfc3234951c6795371380ba843554fef7...,3918253,0xc352b534e8b987e036a93539fd6897f53488e56a,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,0.0,0.003595,11.597415,326.85,Set Initial Owners
2017-06-23 14:02:59,0x1296a717cd01024fbc5ab9be34bafd86d27c53a87ee0...,3918258,0xc352b534e8b987e036a93539fd6897f53488e56a,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,0.0,0.007190,23.194829,326.85,Set Initial Owners
2017-06-23 14:03:15,0x43ed5747e7b109ca1a11cc69345009d924e094dc3858...,3918260,0xc352b534e8b987e036a93539fd6897f53488e56a,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,0.0,0.007190,23.194829,326.85,Set Initial Owners
...,...,...,...,...,...,...,...,...,...
2022-04-09 12:49:46,0x12b731b6c657b3db035493f4a51f7b777488d22bfd33...,14551591,0xe83c750b2708320bb134796c555b80df39a3d97b,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,0.0,0.001706,5.488097,NaN,Offer Punk For Sale
2022-04-09 12:50:35,0x61d36019e596db7820f8d116a4ebd5d676068961d8d3...,14551595,0xe83c750b2708320bb134796c555b80df39a3d97b,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,0.0,0.001706,5.488097,NaN,Offer Punk For Sale
2022-04-09 12:50:35,0xf3736cbcd73b72086fdac45c3b5a2e9ef0c895bad331...,14551595,0xe83c750b2708320bb134796c555b80df39a3d97b,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,0.0,0.001706,5.488097,NaN,Offer Punk For Sale
2022-04-09 14:38:00,0x2f70728819df0616a95cec87838c1aada4a4f6bc505f...,14552090,0x0a9cf96cbe9ce142723caa5c2b6a54bf22a1ebc5,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,0.0,0.001913,6.154825,NaN,Transfer Punk
2022-04-09 15:18:34,0x81c06cd81857bdc12d22fd43f127c4f9b3533b6f57eb...,14552276,0x8bebdb7f971d126bed0084c4cc651be40bee0519,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,0.0,0.003823,12.299534,NaN,Offer Punk For Sale

In [6]:
all_df['Method'].unique()

array(['0x60c06040', 'Set Initial Owners', 'All Initial Owners Assigned',
       'Offer Punk For Sale', 'Get Punk', 'Enter Bid For Punk',
       'Offer Punk For Sale To Address', 'Accept Bid For Punk',
       'Withdraw', 'Buy Punk', 'Withdraw Bid For Punk', 'Transfer Punk',
       'Punk No Longer For Sale', 'Set Initial Owner', 'Transfer',
       'Crypto Punks Market', 'Safe Transfer From', 'Transfer From',
       'Punk Index To Address', 'Purchase', 'Mint',
       'Set Approval For All'], dtype=object)

In [ ]:
'''
Contract functions:

-Enter Bid for Punk: Payable amount & Punk Index. 

-Accept Bid for Punk: Punk Index & Min Price.

-Set Initial Owners: Addresses [list] & Indeces [list].

-Transfer Punk: Transfer ownership of a punk to another user without requiring payment.

-

'''

In [21]:
all_df[['Value_IN(ETH)', 'TxnFee(ETH)']].describe()

       Value_IN(ETH)    TxnFee(ETH)
count  199427.000000  199427.000000
mean        8.735750       0.004977
std        48.586976       0.005324
min         0.000000       0.000000
25%         0.000000       0.001512
50%         0.000000       0.003412
75%         0.000000       0.006669
max      8000.000000       0.218403

In [28]:
positive_value_in = all_df[all_df['Value_IN(ETH)'] > 0]
all_df[all_df['Method'] != 'Enter Bid For Punk']

,Txhash,Blockno,UnixTimestamp,From,To,ContractAddress,Value_IN(ETH),Value_OUT(ETH),TxnFee(ETH),TxnFee(USD),Historical $Price/Eth,Status,ErrCode,Method
DateTime,,,,,,,,,,,,,,
2017-06-22 19:40:00,0x0885b9e5184f497595e1ae2652d63dbdb2785de2e498...,3914495,1498160400,0xc352b534e8b987e036a93539fd6897f53488e56a,NaN,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,0.0,0,0.023565,76.018921,320.97,NaN,NaN,0x60c06040
2017-06-23 13:50:51,0xdcc2d338ae2a0154ac0c50b8836fe96e7e8f17a2ccc2...,3918216,1498225851,0xc352b534e8b987e036a93539fd6897f53488e56a,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,0.0,0,0.007250,23.387559,326.85,NaN,NaN,Set Initial Owners
2017-06-23 14:01:25,0xcdfbe42b67adfc3234951c6795371380ba843554fef7...,3918253,1498226485,0xc352b534e8b987e036a93539fd6897f53488e56a,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,0.0,0,0.003595,11.597415,326.85,NaN,NaN,Set Initial Owners
2017-06-23 14:02:59,0x1296a717cd01024fbc5ab9be34bafd86d27c53a87ee0...,3918258,1498226579,0xc352b534e8b987e036a93539fd6897f53488e56a,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,0.0,0,0.007190,23.194829,326.85,NaN,NaN,Set Initial Owners
2017-06-23 14:03:15,0x43ed5747e7b109ca1a11cc69345009d924e094dc3858...,3918260,1498226595,0xc352b534e8b987e036a93539fd6897f53488e56a,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,0.0,0,0.007190,23.194829,326.85,NaN,NaN,Set Initial Owners
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-09 12:49:46,0x12b731b6c657b3db035493f4a51f7b777488d22bfd33...,14551591,1649508586,0xe83c750b2708320bb134796c555b80df39a3d97b,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,0.0,0,0.001706,5.488097,NaN,NaN,NaN,Offer Punk For Sale
2022-04-09 12:50:35,0x61d36019e596db7820f8d116a4ebd5d676068961d8d3...,14551595,1649508635,0xe83c750b2708320bb134796c555b80df39a3d97b,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,0.0,0,0.001706,5.488097,NaN,NaN,NaN,Offer Punk For Sale
2022-04-09 12:50:35,0xf3736cbcd73b72086fdac45c3b5a2e9ef0c895bad331...,14551595,1649508635,0xe83c750b2708320bb134796c555b80df39a3d97b,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,0.0,0,0.001706,5.488097,NaN,NaN,NaN,Offer Punk For Sale
2022-04-09 14:38:00,0x2f70728819df0616a95cec87838c1aada4a4f6bc505f...,14552090,1649515080,0x0a9cf96cbe9ce142723caa5c2b6a54bf22a1ebc5,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,0.0,0,0.001913,6.154825,NaN,NaN,NaN,Transfer Punk
2022-04-09 15:18:34,0x81c06cd81857bdc12d22fd43f127c4f9b3533b6f57eb...,14552276,1649517514,0x8bebdb7f971d126bed0084c4cc651be40bee0519,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,0.0,0,0.003823,12.299534,NaN,NaN,NaN,Offer Punk For Sale

In [ ]:
true= True
false = False
abi = [{"constant":true,"inputs":[],"name":"name","outputs":[{"name":"","type":"string"}],
        "payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"","type":"uint256"}],
                                            "name":"punksOfferedForSale","outputs":[{"name":"isForSale","type":"bool"},{"name":"punkIndex","type":"uint256"},{"name":"seller","type":"address"},{"name":"minValue","type":"uint256"},{"name":"onlySellTo","type":"address"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"punkIndex","type":"uint256"}],"name":"enterBidForPunk","outputs":[],"payable":true,"type":"function"},{"constant":true,"inputs":[],"name":"totalSupply","outputs":[{"name":"","type":"uint256"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"punkIndex","type":"uint256"},{"name":"minPrice","type":"uint256"}],"name":"acceptBidForPunk","outputs":[],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"decimals","outputs":[{"name":"","type":"uint8"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"addresses","type":"address[]"},{"name":"indices","type":"uint256[]"}],"name":"setInitialOwners","outputs":[],"payable":false,"type":"function"},{"constant":false,"inputs":[],"name":"withdraw","outputs":[],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"imageHash","outputs":[{"name":"","type":"string"}],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"nextPunkIndexToAssign","outputs":[{"name":"","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"","type":"uint256"}],"name":"punkIndexToAddress","outputs":[{"name":"","type":"address"}],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"standard","outputs":[{"name":"","type":"string"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"","type":"uint256"}],"name":"punkBids","outputs":[{"name":"hasBid","type":"bool"},{"name":"punkIndex","type":"uint256"},{"name":"bidder","type":"address"},{"name":"value","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"","type":"address"}],"name":"balanceOf","outputs":[{"name":"","type":"uint256"}],"payable":false,"type":"function"},{"constant":false,"inputs":[],"name":"allInitialOwnersAssigned","outputs":[],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"allPunksAssigned","outputs":[{"name":"","type":"bool"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"punkIndex","type":"uint256"}],"name":"buyPunk","outputs":[],"payable":true,"type":"function"},{"constant":false,"inputs":[{"name":"to","type":"address"},{"name":"punkIndex","type":"uint256"}],"name":"transferPunk","outputs":[],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"symbol","outputs":[{"name":"","type":"string"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"punkIndex","type":"uint256"}],"name":"withdrawBidForPunk","outputs":[],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"to","type":"address"},{"name":"punkIndex","type":"uint256"}],"name":"setInitialOwner","outputs":[],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"punkIndex","type":"uint256"},{"name":"minSalePriceInWei","type":"uint256"},{"name":"toAddress","type":"address"}],"name":"offerPunkForSaleToAddress","outputs":[],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"punksRemainingToAssign","outputs":[{"name":"","type":"uint256"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"punkIndex","type":"uint256"},{"name":"minSalePriceInWei","type":"uint256"}],"name":"offerPunkForSale","outputs":[],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"punkIndex","type":"uint256"}],"name":"getPunk","outputs":[],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"","type":"address"}],"name":"pendingWithdrawals","outputs":[{"name":"","type":"uint256"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"punkIndex","type":"uint256"}],"name":"punkNoLongerForSale","outputs":[],"payable":false,"type":"function"},{"inputs":[],"payable":true,"type":"constructor"},{"anonymous":false,"inputs":[{"indexed":true,"name":"to","type":"address"},{"indexed":false,"name":"punkIndex","type":"uint256"}],"name":"Assign","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"from","type":"address"},{"indexed":true,"name":"to","type":"address"},{"indexed":false,"name":"value","type":"uint256"}],"name":"Transfer","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"from","type":"address"},{"indexed":true,"name":"to","type":"address"},{"indexed":false,"name":"punkIndex","type":"uint256"}],"name":"PunkTransfer","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"punkIndex","type":"uint256"},{"indexed":false,"name":"minValue","type":"uint256"},{"indexed":true,"name":"toAddress","type":"address"}],"name":"PunkOffered","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"punkIndex","type":"uint256"},{"indexed":false,"name":"value","type":"uint256"},{"indexed":true,"name":"fromAddress","type":"address"}],"name":"PunkBidEntered","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"punkIndex","type":"uint256"},{"indexed":false,"name":"value","type":"uint256"},{"indexed":true,"name":"fromAddress","type":"address"}],"name":"PunkBidWithdrawn","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"punkIndex","type":"uint256"},{"indexed":false,"name":"value","type":"uint256"},{"indexed":true,"name":"fromAddress","type":"address"},{"indexed":true,"name":"toAddress","type":"address"}],"name":"PunkBought","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"punkIndex","type":"uint256"}],"name":"PunkNoLongerForSale","type":"event"}]

In [30]:
positive_value_in

,Txhash,Blockno,UnixTimestamp,From,To,ContractAddress,Value_IN(ETH),Value_OUT(ETH),TxnFee(ETH),TxnFee(USD),Historical $Price/Eth,Status,ErrCode,Method
DateTime,,,,,,,,,,,,,,
2017-06-23 21:00:42,0x58c517987e4246452c452c9992379212fe69c23e6d33...,3919689,1498251642,0x5b098b00621eda6a96b7a476220661ad265f083f,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,0.01,0,0.003177,10.249909,326.85,NaN,NaN,Enter Bid For Punk
2017-06-23 21:10:32,0x65579455ac3227e7b3db72b4e359e988bb16cae6d26c...,3919721,1498252232,0xc352b534e8b987e036a93539fd6897f53488e56a,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,0.01,0,0.002398,7.734788,326.85,NaN,NaN,Buy Punk
2017-06-23 21:11:44,0xb4386b3a5c403e6c10337d5c59137d419f2f91bbd5fc...,3919729,1498252304,0xc352b534e8b987e036a93539fd6897f53488e56a,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,0.01,0,0.005296,17.083182,326.85,NaN,NaN,Enter Bid For Punk
2017-06-23 21:31:49,0x91e1d119ab86bd08bcce87ea2da56651124e64d72933...,3919791,1498253509,0x5b098b00621eda6a96b7a476220661ad265f083f,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,0.10,0,0.000424,1.366655,326.85,NaN,NaN,Enter Bid For Punk
2017-06-23 21:41:37,0x9cfedf855194d4f7f565c1a3311e6578aa4b39c56623...,3919830,1498254097,0x5b098b00621eda6a96b7a476220661ad265f083f,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,0.03,0,0.000424,1.366655,326.85,NaN,NaN,Enter Bid For Punk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-08 23:12:53,0x60e1d52af335291bb57cd4f68235530860cae1d5aacc...,14547979,1649459573,0x2d8d75d4ba64efda74eead05ac6127df4e46efa9,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,110.00,0,0.006214,19.993216,3192.92,NaN,NaN,Enter Bid For Punk
2022-04-09 03:02:32,0xef9114d405c2877a2942d666045fd015bfd1e7ee9cd1...,14549004,1649473352,0xaea8e3bd369217cc6e3e6abddf0da318fba8e59b,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,64.00,0,0.003615,11.629302,NaN,NaN,NaN,Enter Bid For Punk
2022-04-09 05:52:45,0x1fae7dfef2f75c0164ee4e2d4c6a3f3af61b8466cc51...,14549759,1649483565,0x138b9057d61e893b72b33ab2d17f24ac87bd33cb,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,120.00,0,0.009710,31.239400,NaN,NaN,NaN,Enter Bid For Punk
2022-04-09 09:05:35,0x0bc0a607230e40f74cf330724198265c4293636f3aa8...,14550626,1649495135,0xf7dd30418613ea2c892d58371a0a0c28fa511ccd,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,85.00,0,0.002913,9.371820,NaN,NaN,NaN,Enter Bid For Punk
2022-04-09 09:53:01,0xf946078252b2d38c7bc63257020fb5bd7975b0e403fc...,14550820,1649497981,0xf7dd30418613ea2c892d58371a0a0c28fa511ccd,0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb,NaN,67.00,0,0.003107,9.996608,NaN,NaN,NaN,Enter Bid For Punk